body{
    background-image: linear-gradient(red, yellow);

}
.popup{
    width: 700px;
    height: 900px;
    margin: 0 40% 0 25%;
    background-color: white;
    border-radius: 20px;

}
.event{
    width: 100%;
    height: 5%;
    border: 1px solid black;
    background-color: black;
    padding-bottom: 10px;
}
.info{
    width: 100%;
    height: 14%;
    box-sizing: border-box;
    float: left;
    padding-left: 10%;
    padding-top: 10%;
}
.user{
    height: 100%;
    float: right;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid white;
}
.info2{
    width: 100%;
    height: 8%;
    border: 1px solid white;
    box-sizing: border-box;
    float: left;
    padding-left: 10%;

}
.box{
    width: 100%;
    height: 8%;
    border: 1px solid white;
    box-sizing: border-box;
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}
.box2{
    width: 125px;
    height: 30px;
    border: 1px solid red;
    background-color: red;
    padding-left: 35px;
    padding-top: 10px;
}
h2{
    color: white;
    text-align: center;
}
h4{
    line-height: 0px;
    text-align: center;
    color: white;
}
a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;

}
