*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 30px;
}
#home{
    margin-top: 20px;
    display: none;
}
#profile{
    margin-top: 20px;
    display: none;
}
#messages{
    margin-top: 20px;
    display: none;
}
#settings{
    margin-top: 20px;
    display: none;
}