*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#popup{
    width: 400px;
    height: 300px;
    position: fixed;
    z-index: 10;
    display: none;
}   
#home{
    display: none;
}
#profile{
    display: none;
}
#messages{
    display: none;
}
#settings{
    display: none;
}