.tab {
    float: left;
    width: 100%;
}
.tab li{
    float: left;
    margin-right: 20px;
}
.content{
    float: left;
    width: 400px;
    height: 200px;
    border: 1px solid #cccccc;
    overflow: hidden;
    position: relative;
}
.content_all{
    float: left;
    width: 1600px;
    height: 200px;
    transition: all 300ms;
    position: absolute;
    top: 0;
    left: 0;
}
.tab_content{
    float: left;
    width: 400px;
    height: 200px;
}
#home{
    display: block;
}